# Add your algorithm dependencies here. lazyllm[rag] is provided by the base image.
httpx>=0.24.0
python-multipart
opensearch-py
pymilvus==2.4.14
setuptools>=69.0.0,<80.0.0
milvus-lite==2.4.10
setuptools<81
# openai-whisper
# pydub


beautifulsoup4
ragas
openpyxl==3.1.5
python-docx
pillow
lxml
python-pptx
uvicorn
fastapi
pymupdf==1.24.14
scikit-learn==1.6.1
umap-learn>=0.5.7
Levenshtein
openpyxl-image-loader
cryptography==45.0.5
pymysql
pyahocorasick
autocorrect-py==2.14.0
rapidfuzz==3.14.3
json-repair==0.54.3
jsonschema>=4
pandas==2.3.3
opentelemetry-sdk>=1.27.0,<2.0.0
opentelemetry-exporter-otlp-proto-http>=1.27.0,<2.0.0
psycopg[binary]>=3,<4
greenlet==3.2.2
aiosqlite>=0.20.0,<1.0.0

dashscope>=1.20.0
nbconvert==7.17.1
mcp>=1.7.0
