/* stylelint-disable no-duplicate-selectors */
.rag-markdown {
  display: flex;
  flex-direction: column;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  margin: 0;

  word-wrap: break-word;
  white-space: pre-wrap;
}


.rag-markdown table {
  margin-top: 16px !important;
}

.rag-markdown p:has(+ table),
.rag-markdown p:empty {
  margin-bottom: 0;
}


.rag-markdown p:empty + table {
  margin-top: 16px;
}

.rag-markdown {
  color-scheme: light;

  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-fg-default: #24292f;
  --color-fg-muted: #57606a;
  --color-fg-subtle: #6e7781;
  --color-canvas-default: #fff;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
  --color-border-muted: hsl(210deg 18% 87% / 100%);
  --color-neutral-muted: rgb(175 184 193 / 20%);
  --color-accent-fg: #0969da;
  --color-accent-emphasis: #0969da;
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #cf222e;
}

.rag-markdown .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.rag-markdown h1:hover .anchor .octicon-link::before,
.rag-markdown h2:hover .anchor .octicon-link::before,
.rag-markdown h3:hover .anchor .octicon-link::before,
.rag-markdown h4:hover .anchor .octicon-link::before,
.rag-markdown h5:hover .anchor .octicon-link::before,
.rag-markdown h6:hover .anchor .octicon-link::before {
  width: 16px;
  height: 16px;
  content: " ";

  display: inline-block;

  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fillRule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fillRule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.rag-markdown details,
.rag-markdown figcaption,
.rag-markdown figure {
  display: block;
}

.rag-markdown summary {
  display: list-item;
}

.rag-markdown [hidden] {
  display: none !important;
}

.rag-markdown a {
  color: var(--color-accent-fg);
  word-break: break-all;

  background-color: transparent;
  text-decoration: none;
}

.rag-markdown a:active,
.rag-markdown a:hover {
  outline-width: 0;
}

.rag-markdown abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

.rag-markdown b,
.rag-markdown strong {
  font-weight: 600;
}

.rag-markdown dfn {
  font-style: italic;
}

.rag-markdown h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3em;

  font-size: 2em;
  font-weight: 600;
}

.rag-markdown mark {
  color: var(--color-text-primary);

  background-color: var(--color-attention-subtle);
}

.rag-markdown small {
  font-size: 90%;
}

.rag-markdown sub,
.rag-markdown sup {
  position: relative;

  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

.rag-markdown sub {
  bottom: -0.25em;
}

.rag-markdown sup {
  top: -0.5em;
}

.rag-markdown img {
  border-style: none;

  max-width: 100%;
  box-sizing: content-box;

  background-color: var(--color-canvas-default);
}

.rag-markdown code,
.rag-markdown kbd,
.rag-markdown pre,
.rag-markdown samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.rag-markdown figure {
  margin: 1em 40px;
}

.rag-markdown hr {
  box-sizing: content-box;
  overflow: hidden;
  height: 0.25em;
  margin: 24px 0;
  border: 0;
  padding: 0;

  background: transparent;
  background-color: var(--color-border-default);
  border-bottom: 1px solid var(--color-border-muted);
}

.rag-markdown input {
  font: inherit;

  margin: 0;
  overflow: visible;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.rag-markdown [type="button"],
.rag-markdown [type="reset"],
.rag-markdown [type="submit"] {
  -webkit-appearance: button;
}

.rag-markdown [type="button"]::-moz-focus-inner,
.rag-markdown [type="reset"]::-moz-focus-inner,
.rag-markdown [type="submit"]::-moz-focus-inner {
  border-style: none;

  padding: 0;
}

.rag-markdown [type="button"]:-moz-focusring,
.rag-markdown [type="reset"]:-moz-focusring,
.rag-markdown [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.rag-markdown [type="checkbox"],
.rag-markdown [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.rag-markdown [type="number"]::-webkit-inner-spin-button,
.rag-markdown [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.rag-markdown [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.rag-markdown [type="search"]::-webkit-search-cancel-button,
.rag-markdown [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.rag-markdown ::input-placeholder {
  color: inherit;

  opacity: 0.54;
}

.rag-markdown ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.rag-markdown a:hover {
  text-decoration: underline;
}

.rag-markdown hr::before {
  display: table;
  content: "";
}

.rag-markdown hr::after {
  display: table;
  clear: both;
  content: "";
}

.rag-markdown table {
  border-spacing: 0;
  border-collapse: collapse;

  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.rag-markdown td,
.rag-markdown th {
  padding: 0;
}

.rag-markdown details summary {
  cursor: pointer;
}

.rag-markdown details:not([open]) > *:not(summary) {
  display: none !important;
}

.rag-markdown kbd {
  display: inline-block;
  border: solid 1px var(--color-neutral-muted);
  border-radius: 6px;
  padding: 3px 5px;

  color: var(--color-fg-default);
  line-height: 10px;

  box-shadow: inset 0 -1px 0 var(--color-neutral-muted);
  background-color: var(--color-canvas-subtle);
  font:
    11px ui-monospace,
    SFMono-Regular,
    "SF Mono",
    Menlo,
    Consolas,
    "Liberation Mono",
    monospace;
  vertical-align: middle;
  border-bottom-color: var(--color-neutral-muted);
}

.rag-markdown h1,
.rag-markdown h2,
.rag-markdown h3,
.rag-markdown h4,
.rag-markdown h5,
.rag-markdown h6 {
  margin-top: 24px;
  margin-bottom: 16px;

  font-weight: 600;
  line-height: 1.25;
}

.rag-markdown h2 {
  padding-bottom: 0.3em;

  font-size: 1.5em;
  font-weight: 600;
}

.rag-markdown h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.rag-markdown h4 {
  font-weight: 600;
  font-size: 1em;
}

.rag-markdown h5 {
  font-weight: 600;
  font-size: 0.875em;
}

.rag-markdown h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: var(--color-fg-muted);
}

.rag-markdown p {
  margin-top: 0;
  margin-bottom: 10px;
}

.rag-markdown blockquote {
  margin: 0;
  padding: 0 1em;

  color: var(--color-fg-muted);
  border-left: 0.25em solid var(--color-border-default);
}

.rag-markdown ul,
.rag-markdown ol {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.rag-markdown ol ol,
.rag-markdown ul ol {
  list-style-type: lower-roman;
}

.rag-markdown ul ul ol,
.rag-markdown ul ol ol,
.rag-markdown ol ul ol,
.rag-markdown ol ol ol {
  list-style-type: lower-alpha;
}

.rag-markdown dd {
  margin-left: 0;
}

.rag-markdown tt,
.rag-markdown code {
  font-family:
    ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono",
    monospace;
  font-size: 12px;
}

.rag-markdown pre {
  margin-top: 0;
  margin-bottom: 0;

  font-family:
    ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono",
    monospace;
  font-size: 12px;
  word-wrap: normal;
}

.rag-markdown .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.rag-markdown ::placeholder {
  color: var(--color-fg-subtle);

  opacity: 1;
}

.rag-markdown input::-webkit-outer-spin-button,
.rag-markdown input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.rag-markdown .pl-c {
  color: var(--color-prettylights-syntax-comment);
}

.rag-markdown .pl-c1,
.rag-markdown .pl-s .pl-v {
  color: var(--color-prettylights-syntax-constant);
}

.rag-markdown .pl-e,
.rag-markdown .pl-en {
  color: var(--color-prettylights-syntax-entity);
}

.rag-markdown .pl-smi,
.rag-markdown .pl-s .pl-s1 {
  color: var(--color-prettylights-syntax-storage-modifier-import);
}

.rag-markdown .pl-ent {
  color: var(--color-prettylights-syntax-entity-tag);
}

.rag-markdown .pl-k {
  color: var(--color-prettylights-syntax-keyword);
}

.rag-markdown .pl-s,
.rag-markdown .pl-pds,
.rag-markdown .pl-s .pl-pse .pl-s1,
.rag-markdown .pl-sr,
.rag-markdown .pl-sr .pl-cce,
.rag-markdown .pl-sr .pl-sre,
.rag-markdown .pl-sr .pl-sra {
  color: var(--color-prettylights-syntax-string);
}

.rag-markdown .pl-v,
.rag-markdown .pl-smw {
  color: var(--color-prettylights-syntax-variable);
}

.rag-markdown .pl-bu {
  color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.rag-markdown .pl-ii {
  color: var(--color-prettylights-syntax-invalid-illegal-text);

  background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.rag-markdown .pl-c2 {
  color: var(--color-prettylights-syntax-carriage-return-text);

  background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.rag-markdown .pl-sr .pl-cce {
  font-weight: bold;
  color: var(--color-prettylights-syntax-string-regexp);
}

.rag-markdown .pl-ml {
  color: var(--color-prettylights-syntax-markup-list);
}

.rag-markdown .pl-mh,
.rag-markdown .pl-mh .pl-en,
.rag-markdown .pl-ms {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-heading);
}

.rag-markdown .pl-mi {
  font-style: italic;
  color: var(--color-prettylights-syntax-markup-italic);
}

.rag-markdown .pl-mb {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-bold);
}

.rag-markdown .pl-md {
  color: var(--color-prettylights-syntax-markup-deleted-text);

  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.rag-markdown .pl-mi1 {
  color: var(--color-prettylights-syntax-markup-inserted-text);

  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.rag-markdown .pl-mc {
  color: var(--color-prettylights-syntax-markup-changed-text);

  background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.rag-markdown .pl-mi2 {
  color: var(--color-prettylights-syntax-markup-ignored-text);

  background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.rag-markdown .pl-mdr {
  font-weight: bold;
  color: var(--color-prettylights-syntax-meta-diff-range);
}

.rag-markdown .pl-ba {
  color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.rag-markdown .pl-sg {
  color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.rag-markdown .pl-corl {
  text-decoration: underline;

  color: var(--color-prettylights-syntax-constant-other-reference-link);
}

.rag-markdown [data-catalyst] {
  display: block;
}

.rag-markdown g-emoji {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.rag-markdown g-emoji img {
  width: 1em;
  height: 1em;
}

.rag-markdown::before {
  display: table;
  content: "";
}

.rag-markdown::after {
  display: table;
  clear: both;
  content: "";
}

.rag-markdown > *:first-child {
  margin-top: 0 !important;
}

.rag-markdown > *:last-child {
  margin-bottom: 0 !important;
}

.rag-markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.rag-markdown .absent {
  color: var(--color-danger-fg);
}

.rag-markdown .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;

  line-height: 1;
}

.rag-markdown .anchor:focus {
  outline: none;
}

.rag-markdown p,
.rag-markdown blockquote,
.rag-markdown ul,
.rag-markdown ol,
.rag-markdown dl,
.rag-markdown table,
.rag-markdown pre,
.rag-markdown details {
  margin-top: 0;
  margin-bottom: 16px;
}

.rag-markdown blockquote > :first-child {
  margin-top: 0;
}

.rag-markdown blockquote > :last-child {
  margin-bottom: 0;
}

.rag-markdown sup > a::before {
  content: "[";
}

.rag-markdown sup > a::after {
  content: "]";
}

.rag-markdown h1 .octicon-link,
.rag-markdown h2 .octicon-link,
.rag-markdown h3 .octicon-link,
.rag-markdown h4 .octicon-link,
.rag-markdown h5 .octicon-link,
.rag-markdown h6 .octicon-link {
  visibility: hidden;

  color: var(--color-fg-default);
  vertical-align: middle;
}

.rag-markdown h1:hover .anchor,
.rag-markdown h2:hover .anchor,
.rag-markdown h3:hover .anchor,
.rag-markdown h4:hover .anchor,
.rag-markdown h5:hover .anchor,
.rag-markdown h6:hover .anchor {
  text-decoration: none;
}

.rag-markdown h1:hover .anchor .octicon-link,
.rag-markdown h2:hover .anchor .octicon-link,
.rag-markdown h3:hover .anchor .octicon-link,
.rag-markdown h4:hover .anchor .octicon-link,
.rag-markdown h5:hover .anchor .octicon-link,
.rag-markdown h6:hover .anchor .octicon-link {
  visibility: visible;
}

.rag-markdown h1 tt,
.rag-markdown h1 code,
.rag-markdown h2 tt,
.rag-markdown h2 code,
.rag-markdown h3 tt,
.rag-markdown h3 code,
.rag-markdown h4 tt,
.rag-markdown h4 code,
.rag-markdown h5 tt,
.rag-markdown h5 code,
.rag-markdown h6 tt,
.rag-markdown h6 code {
  padding: 0 0.2em;

  font-size: inherit;
}

.rag-markdown ul.no-list,
.rag-markdown ol.no-list {
  padding: 0;
  list-style-type: none;
}

.rag-markdown ol[type="1"] {
  list-style-type: decimal;
}

.rag-markdown ol[type="a"] {
  list-style-type: lower-alpha;
}

.rag-markdown ol[type="i"] {
  list-style-type: lower-roman;
}

.rag-markdown div > ol:not([type]) {
  list-style-type: decimal;
}

.rag-markdown ul ul,
.rag-markdown ul ol,
.rag-markdown ol ol,
.rag-markdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.rag-markdown li > p {
  // margin-top: 16px;
}

.rag-markdown li + li {
  margin-top: 0.25em;
}

.rag-markdown dl {
  padding: 0;
}

.rag-markdown dl dt {
  padding: 0;
  margin-top: 16px;

  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.rag-markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.rag-markdown table th {
  font-weight: 600;
}

.rag-markdown table th,
.rag-markdown table td {
  padding: 6px 13px;
  border: 1px solid var(--color-border-default);
}

.rag-markdown table tr {
  background-color: var(--color-canvas-default);
  border-top: 1px solid var(--color-border-muted);
}

.rag-markdown table tr:nth-child(2n) {
  background-color: var(--color-canvas-subtle);
}

.rag-markdown table img {
  background-color: transparent;
}

.rag-markdown img[align="right"] {
  padding-left: 20px;
}

.rag-markdown img[align="left"] {
  padding-right: 20px;
}

.rag-markdown .emoji {
  max-width: none;
  vertical-align: text-top;

  background-color: transparent;
}

.rag-markdown span.frame {
  display: block;
  overflow: hidden;
}

.rag-markdown span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid var(--color-border-default);
}

.rag-markdown span.frame span img {
  display: block;
  float: left;
}

.rag-markdown span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;

  color: var(--color-fg-default);
}

.rag-markdown span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.rag-markdown span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;

  text-align: center;
}

.rag-markdown span.align-center span img {
  margin: 0 auto;

  text-align: center;
}

.rag-markdown span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.rag-markdown span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;

  text-align: right;
}

.rag-markdown span.align-right span img {
  margin: 0;

  text-align: right;
}

.rag-markdown span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.rag-markdown span.float-left span {
  margin: 13px 0 0;
}

.rag-markdown span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.rag-markdown span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;

  text-align: right;
}

.rag-markdown code,
.rag-markdown tt {
  margin: 0;
  border-radius: 6px;
  padding: 0.2em 0.4em;

  font-size: 85%;

  background-color: var(--color-neutral-muted);
}

.rag-markdown code br,
.rag-markdown tt br {
  display: none;
}

.rag-markdown del code {
  text-decoration: inherit;
}

.rag-markdown pre code {
  font-size: 100%;
}

.rag-markdown pre > code {
  margin: 0;
  border: 0;
  padding: 0;

  word-break: normal;
  white-space: pre;

  background: transparent;
}

.rag-markdown .highlight {
  margin-bottom: 16px;
}

.rag-markdown .highlight pre {
  margin-bottom: 0;

  word-break: normal;
}

.rag-markdown .highlight pre,
.rag-markdown pre {
  overflow: auto;
  border-radius: 6px;
  padding: 16px;

  font-size: 85%;
  line-height: 1.45;

  background-color: var(--color-canvas-subtle);
}

.rag-markdown pre code,
.rag-markdown pre tt {
  display: inline;
  overflow: visible;
  max-width: auto;
  margin: 0;
  border: 0;
  padding: 0;

  line-height: inherit;
  word-wrap: normal;
  white-space: pre;

  background-color: transparent;
}

.rag-markdown code[class*="language-"],
.rag-markdown pre[class*="language-"] {
  color: var(--color-fg-default);
  text-shadow: none;
}

.rag-markdown .token.comment,
.rag-markdown .token.prolog,
.rag-markdown .token.doctype,
.rag-markdown .token.cdata {
  color: var(--color-prettylights-syntax-comment);
}

.rag-markdown .token.punctuation,
.rag-markdown .token.operator {
  color: var(--color-fg-muted);
}

.rag-markdown .token.property,
.rag-markdown .token.boolean,
.rag-markdown .token.number,
.rag-markdown .token.constant,
.rag-markdown .token.symbol,
.rag-markdown .token.deleted {
  color: var(--color-prettylights-syntax-constant);
}

.rag-markdown .token.selector,
.rag-markdown .token.attr-name,
.rag-markdown .token.string,
.rag-markdown .token.char,
.rag-markdown .token.builtin,
.rag-markdown .token.inserted {
  color: var(--color-prettylights-syntax-string);
}

.rag-markdown .token.entity,
.rag-markdown .token.url,
.rag-markdown .token.variable {
  color: var(--color-prettylights-syntax-variable);
}

.rag-markdown .token.atrule,
.rag-markdown .token.attr-value,
.rag-markdown .token.keyword {
  color: var(--color-prettylights-syntax-keyword);
}

.rag-markdown .token.function,
.rag-markdown .token.class-name {
  color: var(--color-prettylights-syntax-entity);
}

.rag-markdown .token.regex,
.rag-markdown .token.important {
  color: var(--color-prettylights-syntax-string-regexp);
}

.rag-markdown .token.important,
.rag-markdown .token.bold {
  font-weight: 600;
}

.rag-markdown .token.italic {
  font-style: italic;
}

.rag-markdown .csv-data td,
.rag-markdown .csv-data th {
  padding: 5px;
  overflow: hidden;

  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.rag-markdown .csv-data .blob-num {
  border: 0;
  padding: 10px 8px 9px;

  text-align: right;

  background: var(--color-canvas-default);
}

.rag-markdown .csv-data tr {
  border-top: 0;
}

.rag-markdown .csv-data th {
  font-weight: 600;

  background: var(--color-canvas-subtle);
  border-top: 0;
}

.rag-markdown .footnotes {
  font-size: 12px;
  color: var(--color-fg-muted);
  border-top: 1px solid var(--color-border-default);
}

.rag-markdown .footnotes ol {
  padding-left: 16px;
}

.rag-markdown .footnotes li {
  position: relative;
}

.rag-markdown .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";

  border: 2px solid var(--color-accent-emphasis);
  border-radius: 6px;
}

.rag-markdown .footnotes li:target {
  color: var(--color-fg-default);
}

.rag-markdown .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.rag-markdown .task-list-item {
  list-style-type: none;
}

.rag-markdown .task-list-item label {
  font-weight: 400;
}

.rag-markdown .task-list-item.enabled label {
  cursor: pointer;
}

.rag-markdown .task-list-item + .task-list-item {
  margin-top: 3px;
}

.rag-markdown .task-list-item .handle {
  display: none;
}

.rag-markdown .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.rag-markdown .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

.rag-markdown ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
